@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@font-face {
  font-family: "AkzidenzGroteskBQCondensedBold";
  src: url("../fonts/AkzidenzGroteskBQCondensedBold.eot");
  src: local("☺"), url("../fonts/AkzidenzGroteskBQCondensedBold.woff") format("woff"), url("../fonts/AkzidenzGroteskBQCondensedBold.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBQCondensedBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeueRegular.eot");
  src: local("☺"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
header {
  padding: 29px 0 0 35px;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 892px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
}
.header-top .header-top-lang {
  display: flex;
}
.header-top .header-top-lang a {
  display: block;
  height: 19px;
  padding: 5px;
  font-family: Bebas;
  font-size: 10px;
  line-height: 19px;
  color: #000;
  letter-spacing: 1px;
  padding: 0 4px;
  margin: 0 10px 0 0;
}
.header-top .header-top-lang a.active {
  background-color: #000;
  color: #fff;
}
.header-top .header-top__link {
  color: #000;
  font-family: "AkzidenzGroteskBQCondensedBold";
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
}

.header-bottom {
  display: flex;
  align-items: center;
}
.header-bottom .header-bottom__column {
  flex: 33.333%;
}
.header-bottom .header-bottom__column .header-bottom-menu-list {
  display: flex;
  justify-content: space-between;
}
.header-bottom .header-bottom__column .header-bottom-menu-list li a {
  color: #000000;
  font-family: "AkzidenzGroteskBQCondensedBold";
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.header-bottom .header-bottom__column .header-logo {
  display: block;
  text-align: center;
  margin-top: -20px;
}
.header-bottom .header-bottom__column .header-logo .header-logo__text {
  display: block;
  color: #000;
  font-family: Bebas;
  font-size: 8px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 8px;
}